<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Jokes</title>
</head>
<body>
<h1>Chuck Norris Joke!!</h1>
<p th:text="${joke}">Insert Joke Here!!</p>
<!--<tale>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Number of books</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName}">Afftar</td>
        <td th:text="${author.lastName}">Zhzhzhot</td>
        <td th:text="${author.books.stream().count()}">-1</td>
    </tr>
</table>-->

</body>
</html>